@model OplachiSe.Web.Models.ComplainModels.CreateComplainViewModel
@{
    ViewBag.Title = "Добави оплакване";
}

@using (Html.BeginForm("Create", "Complain", FormMethod.Post, new { @class = "form form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-7">
            <div class="well bs-component">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Ново оплакване</legend>
                        @Html.AntiForgeryToken()
                        @Html.EditorFor(m => m.Title)
                        @Html.DropDownListFor(m => m.CategoryId, Model.Categories, "Choose... ")
                        @Html.EditorFor(m => m.Content)
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Снимка</strong>
                            </div>
                            <div class="col-md-5">
                                <input type="file" name="UploadedImage" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                                <input type="submit" class="btn btn-success" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


